h1 {
    font-size: 3rem;
}

h1, h2 {
    font-family: 'Carter One', cursive;
}

.sham-1 {
    z-index: 10;
}

.navbar {
    background-color: black;
}

nav ul {
    margin: auto;
}

.navbar-nav > li{
    
    padding-right:20px;
}