h1 {
    font-size: 3rem;
    text-shadow: 2px 4px 4px #0a0707;
    font-weight: 900;
    color: rgb(12, 247, 12);
}

h1,
h2 {
    font-family: 'Carter One', cursive;
}

p {
    font-size: large;
    font-weight: bolder;
}

.sham-1 {
    z-index: 10;
}

.navbar {
    background-color: black;
}

nav ul {
    margin: auto;
}

.navbar-nav li {

    padding-right: 50px;
}

nav a {
    transition: 0.8s ease;
    background: black;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}

nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0;
}

.media {
    background-color: rgb(0, 0, 0, 0.1);
    z-index: -100;
}

.site-footer {
    background-color: black;
}

.site-footer h2 {
    color: white;
}

.footer-div ul li a {
color: white;
}

.card-header {
    background-color: black;
    color: white;
}

.card-body ul li {
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-size: large;
}